// Base raw styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #292929;
  background-color: #fff;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #292929;
  opacity: 1;
  transition: opacity 0.4s ease;
  &:hover {
    opacity: 0.6;
  }
}
.logo-link {
  &:hover {
    opacity: 1;
  }
  #logo {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
}
li {
  list-style-type: none;
  padding: 0 0.5rem 1rem 0;
}

// Navigation
header {
  min-height: 10vh;
  border-bottom: 1px solid rgba(41, 41, 41, 0.2);
  nav {
    .nav-links {
      font-family: "Times New Roman", Times, serif;
    }
    .burger div {
      width: 25px;
      height: 3px;
      background-color: black;
      margin: 5px;
      transition: all 0.3s ease-in;
    }
    .burger {
      display: none;
      cursor: pointer;
      opacity: 1;
      transition: all 0.3s ease-in;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}

// Accordion
main {
  .accordion {
    padding-top: 5em;
    width: 80%;
    margin: 0 auto;
    .accordion-container {
      margin-top: 2rem;
      padding-bottom: 2rem;
      border-bottom: 1px solid rgba(41, 41, 41, 0.3);
      cursor: pointer;

      // Active class. Hide-Show accordion-content
      &.active {
        svg {
          transform: rotate(180deg);
        }
        .accordion-content {
          overflow: hidden;
          max-height: 0;
        }
      }
      .accordion-title {
        h2 {
          font-size: 2.5rem;
          padding-right: 1rem;
        }
        svg {
          transition: transform 0.6s ease;
        }
      }
      .accordion-content {
        max-height: 300px;
        transition: max-height 0.6s ease;
        p {
          font-size: 1.1rem;
          line-height: 1.4;
          padding-top: 1rem;
        }
      }
    }
  }
}

// Mobile
@media (max-width: 768px) {
  header {
    padding: 1rem;
    nav {
      display: flex;
      #logo {
        width: 200px;
        margin-right: auto;
        display: block;
        padding-bottom: 0rem;
      }
      .nav-links {
        position: fixed;
        right: 0px;
        height: 100%;
        top: 0;
        background-color: #fff;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 100%;
        transform: translateX(100%);
        li {
          padding: 1rem;
          a {
            color: #292929;
            opacity: 1;
            transition: all 0.4s ease;
            &:hover {
              opacity: 0.6;
            }
          }
        }
      }
      .burger {
        margin-left: auto;
        padding-top: 1.5rem;
        display: block;
        z-index: 2;
        cursor: pointer;

        // Toggle Burger Navigation
        &.toggle-burger-lines {
          .line1 {
            transform: rotate(-45deg) translate(-5px, 6px);
          }
          .line2 {
            opacity: 0;
          }
          .line3 {
            transform: rotate(45deg) translate(-5px, -6px);
          }
        }
      }
      .nav-active {
        transition: transform 0.4s ease-in;
        transform: translateX(0%);
        z-index: 2;
      }
    }
  }
  main {
    .accordion {
      .accordion-container {
        .accordion-title {
          h2 {
            font-size: 2rem;
            @media (max-width: 335px) {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}
