// Base raw styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #292929;
  background-color: #fff;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #292929;
  opacity: 1;
  transition: opacity 0.4s ease;
  &:hover {
    opacity: 0.6;
  }
}
.logo-link {
  &:hover {
    opacity: 1;
  }
  #logo {
    display: block;
    max-width: 100%;
    object-fit: cover;
    margin: 0 auto;
    padding-bottom: 0.5rem;
  }
}

li {
  list-style-type: none;
  padding: 0 0.5rem 1rem 0;
}

// Navigation
header {
  min-height: 10vh;
  border-bottom: 1px solid rgba(41, 41, 41, 0.2);
  nav {
    .nav-links {
      font-family: "Times New Roman", Times, serif;
    }
  }
}

// Accordion
main {
  .accordion {
    padding-top: 5em;
    width: 70%;
    margin: 0 auto;
    .accordion-container {
      margin-top: 2rem;
      padding-bottom: 2rem;
      border-bottom: 1px solid rgba(41, 41, 41, 0.3);
      cursor: pointer;
      // Toggle the active class. Hide-Show accordion-content
      &.active {
        .accordion-content {
          overflow: hidden;
          max-height: 0;
          transition: max-height 0.6s ease;
        }
      }
      .accordion-title {
        h2 {
          font-size: 2.5rem;
          padding-right: 1rem;
        }
      }
      .accordion-content {
        max-height: 300px;
        p {
          font-size: 1.1rem;
          line-height: 1.4;
          padding-top: 1rem;
        }
      }
    }
  }
}
